/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
/* header start */
.text-r h1{
    font-size: 30px;
}
.mb-4 {
    margin-bottom: 0.5rem!important;
}
.mt-4 {
    margin-top: 0.5rem!important;
}
.text-r p {
 font-size: 14px;
}
.btn{
gap: 15px;
font-size: 15px;
}
.text-l h1 {
font-size: 20px;
font-weight: 800;
}
.b-card {
    width: 200px;
    line-height: 0px;
    bottom: -15px;
    left: 15px;
}
/* header end */
/* our start */
.c-text h2 {
font-size: 29px;
}
/* our end */
/* cup card start */
.card h5 {
font-size: 30px;
}
.p-3 {
    padding: 0;
}
/* cup card end */
/* great coffee start */
.g-main {
    align-items: center;
    flex-direction: column-reverse;
}
.mt-5 {
    margin-top: 0.8rem!important;
}
.grid-card {
    grid-template-columns: repeat(1, 1fr);
}
.box-1, .box-4 {
display: none;
}
.box-2, .box-3 {
    width: 300px;
    height: 300.279px;
}
.b-text {
    margin: 30px 0px 30px 0px;
}
.g-text h1 {
font-size: 30px;
}
/* great coffee end */
/* meet start */
.meet {
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 30px 25px;
    flex-direction: column-reverse;
    gap: 30px;
}
.right img {
    width: 100%;
    top: 45px;
    right: 0px;
}
.right h1 {
    font-size: 30px;
}
.right {
width: 100%;
}
.left {
    width: 100%;
    padding: 30px 30px;
}
.m-card img:nth-child(1) {
    width: 14%;
    border-radius: 60px;
    border: #FFF solid 5px;
    position: absolute;
    top: -55px;
    left: -45px;
}
.right p {
    margin: 10px 0px 30px 0px;
}
.right a {
    padding: 5px 10px;
}
/* meet end */
/* points card start */
.container, .container-sm {
    max-width: 600px;
}
.grid-point {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
.p-card {
padding: 10px;
}
.p-card h1 {
    font-size: 18px;
}
/* points card end */
/* footer start */
footer {
    padding: 30px 0px 30px 0px;
    gap: 50px;
}
.first {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.f-text {
    gap: 10px;
    flex-direction: column;
}
.s-icon i {
font-size: 25px;
}
.f-image img{
    width: 60%;
}
.second {
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
form {
    padding-top: 15px;
}
form i {
    padding-left: 30px;
    font-size: 20px;
}
hr {
    margin: 0.5rem 0;
}
.s-icon i:nth-child(2) {
    margin: 0px 35px 0px 35px;
}
.s-icon{
    text-align: center;
}
}
/* footer end */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
 /* header start */
.text-r h1{
    font-size: 30px;
}
.mb-4 {
    margin-bottom: 0.5rem!important;
}
.mt-4 {
    margin-top: 0.5rem!important;
}
.text-r p {
 font-size: 14px;
}
.btn{
gap: 15px;
font-size: 15px;
}
.text-l h1 {
font-size: 20px;
font-weight: 800;
}
.b-card {
    width: 200px;
    line-height: 0px;
    bottom: -15px;
    left: 15px;
}
/* header end */
/* our start */
.c-text h2 {
font-size: 30px;
}
/* our end */
/* cup card start */
.card h5 {
font-size: 30px;
}
.p-3 {
    padding: 0;
}
/* cup card end */
/* great coffee start */
.g-main {
    align-items: center;
    flex-direction: column-reverse;
}
.b-text {
    margin: 30px 0px 30px 0px;
}
.g-text h1 {
font-size: 30px;
}
/* great coffee end */
/* meet start */
.meet {
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 30px 25px;
    flex-direction: column-reverse;
    gap: 50px;
}
.right img {
    top: -45px;
    right: 115px;
}
.right h1 {
    font-size: 30px;
}
.right {
width: 100%;
}
.left {
    width: 100%;
    padding: 30px 30px;
}
.m-card img:nth-child(1) {
    width: 13%;
    border-radius: 60px;
    border: #FFF solid 5px;
    position: absolute;
    top: -55px;
    left: -45px;
}
.right p {
    margin: 10px 0px 30px 0px;
}
.right a {
    padding: 5px 10px;
}
/* meet end */
/* points card start */
.container, .container-sm {
    max-width: 600px;
}
.grid-point {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}
.p-card {
padding: 10px;
}
.p-card h1 {
    font-size: 18px;
}
/* points card end */
/* footer start */
footer {
    padding: 30px 0px 30px 0px;
    gap: 30px;
}
.s-icon i {
font-size: 25px;
}
.f-image img{
    width: 60%;
}
.second {
    justify-content: space-around;
}
form {
    padding-top: 15px;
}
form i {
    padding-left: 50px;
}
.s-icon i:nth-child(2) {
    margin: 0px 15px 0px 15px;
}
}
/* footer end */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
 /* header start */
 .text-r h1{
    font-size: 40px;
}
.text-r p {
 font-size: 16px;
}
.btn{
gap: 15px;
font-size: 15px;
}
.text-l h1 {
font-size: 20px;
font-weight: 800;
}
.b-card {
    width: 200px;
    line-height: 0px;
    bottom: -15px;
    left: 15px;
}
/* header end */
/* our start */
.c-text h2 {
font-size: 30px;
}
/* our end */
/* cup card start */
.card h5 {
font-size: 18px;
}
.p-3 {
    padding: 0;
}
/* cup card end */
/* great coffee start */
.g-main {
    align-items: center;
    flex-direction: column-reverse;
}
.b-text {
    margin: 30px 0px 30px 0px;
}
.g-text h1 {
font-size: 30px;
}
/* great coffee end */
/* meet start */
.meet {
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 30px 25px;
}
.right img {
    top: 180px;
}
.right h1 {
    font-size: 30px;
}
.right {
width: 45%;
}
.left {
    width: 45%;
    padding: 30px 30px;
}
.m-card img:nth-child(1) {
    width: 22%;
    border-radius: 60px;
    border: #FFF solid 5px;
    position: absolute;
    top: -50px;
    left: -40px;
}
/* meet end */
/* points card start */
.grid-point {
    gap: 10px;
}
.p-card {
padding: 10px;
}
.p-card h1 {
    font-size: 18px;
}
/* points card end */
/* footer start */
footer {
    padding: 50px 0px 50px 0px;
    gap: 40px;
}
.s-icon i {
font-size: 25px;
}
.f-image img{
    width: 60%;
}
.second {
    justify-content: space-around;
}
form {
    padding-top: 15px;
}
form i {
    padding-left: 50px;
}
.s-icon i:nth-child(2) {
    margin: 0px 15px 0px 15px;
}
}
/* footer end */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
 /* header start */
.text-r h1{
        font-size: 50px;
}
.text-r p {
     font-size: 16px;
}
.btn{
    gap: 15px;
    font-size: 15px;
}
.text-l h1 {
    font-size: 20px;
    font-weight: 800;
}
/* header end */
/* our start */
.c-text h2 {
    font-size: 35px;
}
/* our end */
/* cup card start */
.card h5 {
    font-size: 20px;
}
/* cup card end */
/* great coffee start */
.g-text h1 {
    font-size: 35px;
}
/* great coffee end */
/* meet start */
.meet {
    padding: 60px 40px;
}
.right {
    width: 45%;
}
.right img {
    top: 115px;
}
.left {
    width: 45%;
}
/* meet end */
/* points card start */
.p-card {
    padding: 10px;
}
/* points card end */
/* footer start */
footer {
    padding: 60px 0px 60px 0px;
    gap: 60px;
}
.s-icon i {
    font-size: 25px;
}
/* footer end */
}
 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1399.98px){


}
 /* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
 

}